sudo: required
language: node_js
node_js:
- '8'
services:
- docker
branches:
  only:
  - master
install:
- npm install
- npm install snyk
cache:
  directories:
  - node_modules
script:
- snyk config set endpoint=https://snykpoc.northeurope.cloudapp.azure.com/api
- snyk auth $SNYK_TOKEN
- snyk test || true
- snyk monitor
after_success:
- |
  if ([ "$TRAVIS_BRANCH" == "master" ] || [ ! -z "$TRAVIS_TAG" ]) && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    git config --global user.email "travis@travis-ci.org"
    git config --global user.name "Travis CI"
    git remote set-url --push origin "https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git"
    git remote -v
    git checkout -f -b version-branch
    npm version patch -m "$(git log -1 --pretty=%B) .... bump version [skip ci]"
    git push origin version-branch:master --follow-tags
    docker login --username yehiyam --password ${DOCKER_HUB_PASS}
  else
    echo "version skiped!"
  fi
deploy:
  skip_cleanup: true
  provider: script
  script: PRIVATE_REGISTRY=docker.io/hkube npm run build
  on:
    branch: master
after_deploy:
- curl -X POST -H 'accept:application/json'  -H "authorization:token ${TRAVIS_API_TOKEN}"
  -H 'content-type:application/json' -H 'travis-api-version:3' -d "{\"request\":{\"branch\":\"master\",\"message\":\"triggered
  by ${TRAVIS_REPO_SLUG}\"}}" "https://api.travis-ci.org/repo/kube-HPC%2Frelease-manager/requests"
env:
  global:
  - secure: r0lXqqfoNgs5IlVWoJ3zoYyjd86+gInqzSRRxGnlPDoGv2wOIwGr0dxMq8mdmAiIVFkeXP1Aa95thZ/ZXeE4lErliZkc9QW+Yuv0K9r0cLt1oa/viu9L4XiECobQJR0TlsESORtw7jkVs2hb+Ks96iAaMEp1qYOdS7Vvavjge2r4ZfxtULjyXnSfdMydn+/kwYOXjhfEHhQb+XZlGBLHWhDMEedv4tKGi3SGx2qEqzmH8H9zhm43fEveNl21brA9ANCG/+8a1UbYwoAey7HB7S3zv2kR0XEADNeWITynxKnZ5VCrTZDZ6+N/9MFzxSbhQzktuQWyn0/0XwAiqMqS3QE0XTu2GR9LyluE7Ob2+Gp41zs3WVI+7+m9Fy5+AeTh1fZ5NkK3NLsoPXIrEbgm171KQRLSiTWNEG6wbCfh4wXyktg/iFQhaKmYNiQlc1wnyo3rBXhHq0e+QuQ0SY5rvEtinoKiiAGHT7Lo/QwYLBSZQC/SKT/xnUsnUcC5Z26ObK/Jsp3p9G38e24MlYYD/nlzTE7hjydnMnJlARnA3yFrm+/Z6xRBLK86V6nz272MmMZHbAW9ieStdtPPvo5JhWAMkkWqDb35SSFuCE1bjNzpxjhbv4iGn9hRpYNnrQ2HTzgUd5ag5g25GpKhXI1hWCWIfWz9Mbnmk5Cu8Mv1rYA=
